<!DOCTYPE html>
<html lang="ro">

<head>
    <%- include('../fragmente/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('../fragmente/header') %>
        <h1>Bine ai venit în secțiunea de Cofetărie!</h1>
        <p>Aici găsești cele mai bune prăjituri și torturi!</p>
        <%- include('../fragmente/footer') %>
</body>

</html>