<section id="Contact">
    <p id="banner-proiect">Acesta este un proiect școlar!</p>
    <div class="watermark">Giurgescu Rares</div>
    <address>
        <p>WhatsApp: <a href="https://wa.me/1790823451">Mesaj</a></p>
        <p>Lista alergeni: <a href="" download="">Descarca aici</a></p>
    </address>
    <a href="#">Acasa</a>
    <br>
    <small>&#169; <time datetime="2024-10-19">Creat pe 19 Octombrie 2024</time></small>
</section>