<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Paine, maia, brutarie,prajituri,torturi,proaspat,cofetaire">
<meta name="description" content="Brutarie Artizanala/Cofetarie">
<meta name="author" content="Giurgescu Rares-Alexandru ">
<link rel="icon" type="image/png" href="/resurse/ico/favicon/favicon-48x48.png" sizes="48x48" />
<link rel="icon" type="image/svg+xml" href="/resurse/ico/favicon/favicon.svg" />
<link rel="shortcut icon" href="/resurse/ico/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/resurse/ico/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="MyWebSite" />
<link rel="manifest" href="/resurse/ico/site.webmanifest" />
<link rel="stylesheet" href="/resurse/css/general.css">
<link rel="stylesheet" href="/resurse/css/general1000.css">
<link rel="stylesheet" href="/resurse/css/general700.css">
<link rel="stylesheet" href="/resurse/css/nav_bar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<title>Vikings Bakery</title>