<div class="burger" id="burger">&#9776;
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>
<nav>
    <ul>
        <li class="home-link">
            <a href="/">
                <span class="home-text">Acasa</span>
                <i class="fa-solid fa-house home-icon"></i>
            </a>
            <ul>
                <li><a href="#Despre">Despre noi</a></li>
                <li> <a href="#Produse">Produse</a></li>
                <li><a href="#Contact">Contacte</a></li>
            </ul>
        </li>
        <li> <a href="/cofetarie">Cofetarie</a></li>
        <li> <a href="Brutarie.html">Brutarie</a></li>
        <li> <a href="Patiserie.html">Patiserie</a></li>
    </ul>
</nav>
<h1 class="title" data-text="Vikings Bakery">Vikings Bakery</h1>